<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.totvs.retailapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera"  android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_retail_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".StoreBrowseActivity"
            android:label="@string/app_label_browse_store"></activity>
        <activity
            android:name=".WalkInRewardNotifyActivity"
            android:label="@string/app_label_achievement"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PurchaseRewardNotifyActivity"
            android:label="@string/app_label_achievement"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ScanProductRewardNotifyActivity"
            android:label="@string/app_label_achievement"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PurchaseHistoryActivity"
            android:label="@string/app_label_purchase"></activity>
        <activity
            android:name=".CategoryBrowseActivity"
            android:label="@string/app_label_browse_category"></activity>
        <activity
            android:name=".ProductBrowseActivity"
            android:label="@string/app_label_browse_product"></activity>
        <activity
            android:name=".RewardBalanceActivity"
            android:label="@string/app_label_reward_balance"></activity>
        <activity
            android:name=".PurchaseDetailActivity"
            android:label="@string/app_label_purchase"></activity>
        <activity
            android:name=".ProductDetailActivity"
            android:label="@string/app_label_browse_product"></activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/app_label_profile"></activity>
        <activity android:name=".PurchaseHistoryAddActivity"></activity>
    </application>

</manifest>
